body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

header {
  text-align: center;
  margin: 20px 0;
  background-image: url('pv_tp1_grupo16\img\_95588045_178392703.jpg.webp'); /*ruta de la imagen*/
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.mensaje-exito {
  margin-top: 20px;
  color: green;
  font-weight: bold;
  display: none;
}
estilos para el nav
nav ul {
width: 100%;
list-style-type:none ;
text-align: center;
}
nav li{
display: inline-flex;
}
nav a{
  text-decoration: none;
  padding: 10px;
  width: 150px;
}
.bellas-Artes{
width: 200px;
height: 200px;
border-radius: 50%;
object-fit: cover;
}
.contemporaneo{
  width: 200px;
height: 200px;
border-radius: 50%;
object-fit: cover;
}