body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.cuerpo{
  background: #f5eded;
}

header {
  text-align: center;
  margin: 20px 0;
  background-image: url('pv_tp1_grupo16\img\_95588045_178392703.jpg.webp'); /*ruta de la imagen*/
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
.bandera{
  width: 250px;
  height: 200px;
}
h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.mensaje-exito {
  margin-top: 20px;
  color: green;
  font-weight: bold;
  display: none;
}
/* HEAD */

/* ESTILOS PARA INDEX.HTML */

.body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.encabezado {
  background-color: #aa1d1d;
  color: black;
  text-align: center;
  padding: 20px;
}

.titulo-principal {
  margin: 0;
}

.navegacion {
  background-color: #e0e0e0;
  padding: 10px 0;
  text-align: center;
}

.navegacion ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navegacion li {
  display: inline;
  margin: 0 15px;
}

.navegacion a {
  text-decoration: none;
  color: #741f1f;
}

main {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  max-width: 1200px;  
  margin: 0 auto;      
  box-sizing: border-box; 
}

.seccion-cultura {
  flex: 3;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.titulo-section {
  margin-top: 0;
}

.bloque-cultura {
  margin-bottom: 30px;
}

.bloque-cultura article h2 {
  color: #aa1d1d;
}

.bloque-cultura article img {
  margin-top: 10px;
  border-radius: 8px;
}

.aside-principal {
  flex: 1;
  background-color: #fff7e6;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}
.bellas-Artes{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  }
  .contemporaneo{
    width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  }
  .contenido{
    display: flex;
    margin: 60px;
  }
  .articulo{
    width: 80%;
    margin: 60px;
  }
  .section-museo{
  display: flex;
  align-items: center;
  padding: 40px;
   
  }
  .aside-museo{
   width: 20%;
   float: right;
   margin-top: 20px;
  }
  aside a{
  color: chocolate;
  }

.efemerides,
.sabias-que {
  margin-bottom: 30px;
}

.efemerides h2,
.sabias-que h2 {
  color: #aa1d1d;
}

.footer-pagina {
  background-color: #aa1d1d;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

/* ESTILOS PARA MUSEOS.HTML */
body.body-museo {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.5;
}

/* CABEZERA DE MUSEOS */
.header-cultura {
  background-color: #aa1d1d;
  color: black;
  text-align: center;
  padding: 20px;
}

.titulo-principal {
  font-size: 2.5em;
}

/* BARRA DE NAVEGACION */
.nav-cultura {
  background-color: #e0e0e0;
}

.nav-cultura ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.nav-cultura li {
  margin: 0 15px;
}

.nav-cultura a {
  text-decoration: none;
  color: #741f1f;
}

.nav-cultura a:hover {
  color: rgb(57, 30, 210);
}

/* CONTENIDO*/
.contenido {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  max-width: 1200px;  
  margin: 0 auto;      
  box-sizing: border-box; 
  background-color: white;
}

.articulo {
  margin-top: 0;
  margin-bottom: 30px;
}

.section-museo h2 {
  color: #aa1d1d;
}

.section-museo p {
  margin: 0;
}

.section-museo img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 10px 0;
  border-radius: 5px;
}

.section-museo iframe {
  margin: 10px;
  border: none;
  border-radius: 8px;
}

/* Museos de Argentina */
aside {
  flex: 1;
  background-color: #f7e1e1;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

aside h3 {
  margin-bottom: 15px;
  color: #aa1d1d;
}

aside p {
  margin-bottom: 5px;
  background: none;
}

aside a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

aside a:hover {
  color: #1100ff;
}

/* PIE */
footer {
  background-color: #aa1d1d;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
