body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

header {
  text-align: center;
  margin: 20px 0;
  background-image: url('pv_tp1_grupo16\img\_95588045_178392703.jpg.webp'); /*ruta de la imagen*/
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.mensaje-exito {
  margin-top: 20px;
  color: green;
  font-weight: bold;
  display: none;
}
<<<<<<< HEAD

/* Estilos para index.html*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Header */
.header-cultura {
  background-color: #005f73;
  padding: 20px;
  text-align: center;
}

.titulo-principal {
  color: white;
  font-size: 2.5em;
  margin: 0;
}

/* Navegación */
.nav-cultura {
  background-color: #0a9396;
  padding: 10px 0;
  text-align: center;
}

.nav-cultura ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-cultura li {
  display: inline;
  margin: 0 15px;
}

.nav-cultura a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-cultura a:hover {
  text-decoration: underline;
}

/* Sección principal */
.seccion-cultura {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
  background-color: white;
}

.titulo-seccion {
  font-size: 2em;
  color: #001219;
  margin-bottom: 20px;
}

.descripcion-cultura {
  line-height: 1.6;
  color: #333;
  margin-bottom: 40px;
}

/* Bloques de artículos */
.bloque-cultura {
  margin-bottom: 40px;
}

.bloque-cultura h2 {
  color: #005f73;
}

.bloque-cultura p {
  line-height: 1.6;
  color: #333;
}

.bloque-cultura img {
  display: block;
  margin-top: 15px;
}

=======